*{
    margin:0;
    padding:0;
}

body{
    background:linear-gradient(#c3cfe9 15%,#00020e 100%);
}

#titulo{
    color: rgb(0, 5, 10);
}

.texto{
    color: peru;
}

footer{
    background: linear-gradient(#1d678c 15%,#13a8f2 100%);
    color: rgb(1, 0, 10);
    padding: 16px 0;
}


p {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  text-align: justify;
  font-style: normal;
  font-variation-settings:
  width 100px;
}

img{
    display:block;
    margin:0 auto;
    width: 500px;
    height: 500px;
}